/* Barra de navegacion */
.navbar{
    padding: 0.1rem;
  }

  na
  
  .link{
    color: #000000;
    font-weight: bold;

  }
  
  .color-nav{
      background-color: rgb(139, 139, 139);
  
  }
  

  .nav-item{
      color: rgb(253, 59, 59);
  }
  
  .navbar-brand img{
      width: 60px;
  }
  
  .mb-3{
      width: 100px;
  }